// NATIVE
// ============================================================

* {
	transition: all .1s ease-in-out;
}

ul, li {
	list-style: none;
	@include margin(0);
	@include pad(0);
}

// GLOBAL
// ============================================================

.week {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@for $i from 1 through 40 {
  .week-#{$i} { background-image: url('../_img/#{$i}.jpg'); }
}

.content {
	position: relative;
	// left: 2em;
	height: 100vh;
	text-align: left;
}

.time {
	position: absolute;
	top: 0;

	h1 {
		font: 6em/1em $font-h1;
		@include margin(0);
	}
	h2 {
		@include margin(0);
		font: 1em/1em $font-h2;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
}

.time-week:before {
	content: "•";
	font: 1.4em/.8em sans-serif;
	position: absolute;
}

// MEDIA: LARGE
// ============================================================
@include media(min-width $tablet) {

	.week {
		width: 100%;
		height: 100vh;
		@include pad(0 0 0 2em);
		background-attachment: fixed;
	}

	.content {
		color: #fff;
		border-left: solid 1em rgba(255,255,255,.2);
	}

	.time {
		@include pad(4em);
	}

	.time-week:before {
		left: -.24em;
	}

}

// MEDIA: SMALL
// ============================================================

@include media(max-width $tablet) {

	.week {
		width: 94%;
  	height: 20em;
  	@include margin(8em auto null);
  	@include pad(0 0 0 1em);
  	background-attachment: static;
  }

  .week-1 {
    margin-top: 8em;
    .content {
    	top: -4em;
    	.time {
    		padding-top: 0;
    		@include margin(-2em null null);
    	}
    }
  }

  .content {
  	height: 28em;
  	top: -8em;

		color: #FF8066;
		border-left: solid .6em rgba(180,90,70,.2);
	}

	.time {
		@include pad(2em);
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: .8em;
		}
	}

	.time-week:before {
		font-size: 3em;
		line-height: .4em;
		left: -.22em;
	}

}
