// NATIVE
// ============================================================

* {
	transition: all .1s ease-in-out;
}

ul, li {
	list-style: none;
	@include margin(0);
	@include pad(0);
}

// GLOBAL
// ============================================================

.week {
	background-color: rgba($accent, .2);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@for $i from 1 through 40 {
  .week-#{$i} { background-image: url('../_img/#{$i}.jpg'); }
}

.content {
	position: relative;
	height: 100vh;
	text-align: left;
}

.time {
	position: absolute;
	top: 0;

	h1 {
		font: 6em/1em $font-h1;
		@include margin(0);
	}
	h2 {
		@include margin(0);
		font: 1em/1em $font-h2;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
}

.time-week:before {
	content: "•";
	font: 1.4em/.8em sans-serif;
	color: $accent;
	position: absolute;
	left: -.22em;
}

// MEDIA: LARGE
// ============================================================
@include media(min-width $tablet) {

	.week {
		width: 100%;
		height: 100vh;
		@include pad(0 0 0 2em);
		background-attachment: fixed;
	}

	.content {
		color: $accent;
		border-left: solid .6em rgba($accent, .2);
	}

	.time {
		@include pad(4em);
	}

	.week-1 .content {
		height: 9em;
	}

}

// MEDIA: SMALL
// ============================================================

@include media(max-width $tablet) {

	.week {
		width: 94%;
  	height: 20em;
  	@include margin(null auto 8em);
  	@include pad(0 0 0 1em);
  	background-attachment: static;
  }

  .content {
  	bottom: -8em;

		color: $accent;
		border-left: solid .6em rgba($accent, .2);
	}

	.time {
		top: 12em;
		@include pad(2em);
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: .8em;
		}
	}

	.time-week:before {
		font-size: 3em;
		line-height: .4em;
	}

  .week-1 {
    margin-bottom: 6em;
    .content {
    	height: 5em;
    	bottom: -19em;
    	.time {
    		top: 1em;
    	}
    }
  }

}
