$white:  #fff;
$accent: #F2DE00; //yellow
$black:  #000;

$widescreen: 1200px;
$desktop:    1024px;
$tablet:     768px;
$portrait:   480px;

$font-h1: 'Permanent Marker', cursive;
$font-h2: 'Lato', sans-serif;

@mixin text-align($alignment) {
	text-align: $alignment;
}